*.sfasta filter=lfs diff=lfs merge=lfs -text
*.sfai filter=lfs diff=lfs merge=lfs -text
Dmel.sfai filter=lfs diff=lfs merge=lfs -text
Dmel.sfasta filter=lfs diff=lfs merge=lfs -text
Vvulg.sfai filter=lfs diff=lfs merge=lfs -text
Vvulg.sfasta filter=lfs diff=lfs merge=lfs -text
